In [50]:
import pandas as pd

In [51]:
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [52]:
engine = create_engine('mysql+pymysql://root:xtycrfz.123@127.0.0.1/parking_spots')
parking = pd.read_sql_query('SELECT * FROM parking', engine)

In [53]:
parking2 = parking[['GEO_ID', 'URBAN_AREA', 'CATEGORY']]
parking2.head(5)

         GEO_ID    URBAN_AREA      CATEGORY
0  110675492544  westpoort_nf  NIET FISCAAL
1  110681492543  westpoort_nf  NIET FISCAAL
2  110686492541  westpoort_nf  NIET FISCAAL
3  111723491371  westpoort_nf  NIET FISCAAL
4  111724491374  westpoort_nf  NIET FISCAAL

In [54]:
parking2.shape # all parking places

(416, 3)

In [57]:
parking2['URBAN_AREA'] = parking['URBAN_AREA'].str.replace('_nf', '')
parking2['URBAN_AREA']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0       westpoort
1       westpoort
2       westpoort
3       westpoort
4       westpoort
5       westpoort
6       westpoort
7       westpoort
8       westpoort
9       westpoort
10      westpoort
11      westpoort
12      westpoort
13      westpoort
14      westpoort
15      westpoort
16      westpoort
17      westpoort
18      westpoort
19      westpoort
20      westpoort
21      westpoort
22      westpoort
23      westpoort
24      westpoort
25      westpoort
26      westpoort
27      westpoort
28      westpoort
29      westpoort
          ...
386    nieuw_west
387    nieuw_west
388    nieuw_west
389    nieuw_west
390    nieuw_west
391    nieuw_west
392    nieuw_west
393    nieuw_west
394    nieuw_west
395    nieuw_west
396    nieuw_west
397    nieuw_west
398    nieuw_west
399    nieuw_west
400    nieuw_west
401    nieuw_west
402    nieuw_west
403    nieuw_west
404    nieuw_west
405    nieuw_west
406    nieuw_west
407    nieuw_west
408    nieuw_west
409    nieuw_west
410    nieuw_west
411    nieuw_west
412    nieuw_west
413    nieuw_west
414    nieuw_west
415    nieuw_west
Name: URBAN_AREA, Length: 416, dtype: object