In [1]:
import pandas as pd

In [2]:
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
data = pd.read_csv('parking.csv')
data.head()

,Unnamed: 0,WKT,ID,GEO_ID,NEIGBORHOOD_CODE,URBAN_AREA,SREET_NAME,QUANTITY,CATEGORY,TYPE,E_TYPE,E_TYPE_DESC,SIGN
0,0,"POLYGON ((110677.64 492542.17,110672.28 492543...",110675492544,110675492544,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs,NaN,NaN,NaN
1,1,"POLYGON ((110683.02 492541.02,110677.64 492542...",110681492543,110681492543,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs,NaN,NaN,NaN
2,2,"POLYGON ((110683.44 492542.97,110690.81 492541...",110687492541,110686492541,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs,NaN,NaN,NaN
3,3,"POLYGON ((111725.48 491372.13,111724.98 491369...",111723491371,111723491371,B10g,westpoort_nf,Ruigoord,1,NIET FISCAAL,Haaks,NaN,NaN,NaN
4,4,"POLYGON ((111725.98 491374.5,111725.48 491372....",111724491374,111724491374,B10g,westpoort_nf,Ruigoord,1,NIET FISCAAL,Haaks,NaN,NaN,NaN

In [12]:
data = data.drop(['ID', 'WKT', 'E_TYPE', 'E_TYPE_DESC', 'SIGN'], axis=1)
data.head()

,Unnamed: 0,GEO_ID,NEIGBORHOOD_CODE,URBAN_AREA,SREET_NAME,QUANTITY,CATEGORY,TYPE
0,0,110675492544,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs
1,1,110681492543,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs
2,2,110686492541,B10g,westpoort_nf,Abidjanweg,1,NIET FISCAAL,Langs
3,3,111723491371,B10g,westpoort_nf,Ruigoord,1,NIET FISCAAL,Haaks
4,4,111724491374,B10g,westpoort_nf,Ruigoord,1,NIET FISCAAL,Haaks

In [13]:
data.to_csv('parking_new.csv', index=False)

In [37]:
new_data = data[['URBAN_AREA', 'GEO_ID']]
new_data['URBAN_AREA'] = new_data['URBAN_AREA'].str.replace('_nf', '')
new_data.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  URBAN_AREA        GEO_ID
0  westpoort  110675492544
1  westpoort  110681492543
2  westpoort  110686492541
3  westpoort  111723491371
4  westpoort  111724491374
5  westpoort  111724491376
6  westpoort  111725491379
7  westpoort  111725491381
8  westpoort  111726491383
9  westpoort  111726491386

In [15]:
before = len(new_data)
lst = ['GEO_ID']
new_data = new_data[lst].drop_duplicates()
after = len(new_data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [55]:
westpoort = new_data[(new_data['URBAN_AREA'] == 'west')]
westpoort.head()

     URBAN_AREA        GEO_ID
268        west  118006487491
589        west  118058487547
621        west  118220489653
1344       west  118220489659
1434       west  118240489386

In [47]:
new_data1 = data[['URBAN_AREA', 'CATEGORY', 'GEO_ID']]
new_data1['URBAN_AREA'] = new_data1['URBAN_AREA'].str.replace('_nf', '')
new_data1.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  URBAN_AREA      CATEGORY        GEO_ID
0  westpoort  NIET FISCAAL  110675492544
1  westpoort  NIET FISCAAL  110681492543
2  westpoort  NIET FISCAAL  110686492541
3  westpoort  NIET FISCAAL  111723491371
4  westpoort  NIET FISCAAL  111724491374

In [64]:
data = data[['URBAN_AREA', 'GEO_ID', 'SREET_NAME']]
data

          URBAN_AREA        GEO_ID             SREET_NAME
0       westpoort_nf  110675492544             Abidjanweg
1       westpoort_nf  110681492543             Abidjanweg
2       westpoort_nf  110686492541             Abidjanweg
3       westpoort_nf  111723491371               Ruigoord
4       westpoort_nf  111724491374               Ruigoord
5       westpoort_nf  111724491376               Ruigoord
6       westpoort_nf  111725491379               Ruigoord
7       westpoort_nf  111725491381               Ruigoord
8       westpoort_nf  111726491383               Ruigoord
9       westpoort_nf  111726491386               Ruigoord
10      westpoort_nf  111726491388               Ruigoord
11      westpoort_nf  111727491390               Ruigoord
12      westpoort_nf  111727491393               Ruigoord
13      westpoort_nf  111728491395               Ruigoord
14      westpoort_nf  111728491397               Ruigoord
15      westpoort_nf  111729491400               Ruigoord
16      westpoort_nf  111729491402               Ruigoord
17      westpoort_nf  111730491405               Ruigoord
18      westpoort_nf  111730491407               Ruigoord
19      westpoort_nf  111731491409               Ruigoord
20      westpoort_nf  111731491412               Ruigoord
21      westpoort_nf  111732491414               Ruigoord
22      westpoort_nf  111732491416               Ruigoord
23      westpoort_nf  111733491369               Ruigoord
24      westpoort_nf  111733491372               Ruigoord
25      westpoort_nf  111733491419               Ruigoord
26      westpoort_nf  111733491421               Ruigoord
27      westpoort_nf  111734491374               Ruigoord
28      westpoort_nf  111734491377               Ruigoord
29      westpoort_nf  111734491424               Ruigoord
...              ...           ...                    ...
267360      noord_nf  130565489847          Uitdammerdijk
267361      noord_nf  130565489850          Uitdammerdijk
267362      noord_nf  130849490455          Uitdammerdijk
267363      noord_nf  130853490457          Uitdammerdijk
267364      noord_nf  130855490458          Uitdammerdijk
267365      noord_nf  130857490459          Uitdammerdijk
267366      noord_nf  130859490460          Uitdammerdijk
267367      noord_nf  130861490461          Uitdammerdijk
267368      noord_nf  130863490463          Uitdammerdijk
267369      noord_nf  130863491783  Dorpsstraat Holysloot
267370      noord_nf  130864490465          Uitdammerdijk
267371      noord_nf  130866490467          Uitdammerdijk
267372      noord_nf  130866491782  Dorpsstraat Holysloot
267373      noord_nf  130868490471          Uitdammerdijk
267374      noord_nf  130868491781  Dorpsstraat Holysloot
267375      noord_nf  131770491058          Uitdammerdijk
267376      noord_nf  131776491060          Uitdammerdijk
267377      noord_nf  131778491061          Uitdammerdijk
267378      noord_nf  131780491062          Uitdammerdijk
267379      noord_nf  131782491063          Uitdammerdijk
267380      noord_nf  131784491065          Uitdammerdijk
267381      noord_nf  131785491066          Uitdammerdijk
267382      noord_nf  131787491068          Uitdammerdijk
267383      noord_nf  131791491073          Uitdammerdijk
267384      noord_nf  131895491277          Uitdammerdijk
267385      noord_nf  131899491284          Uitdammerdijk
267386      noord_nf  131901491288          Uitdammerdijk
267387      noord_nf  131903491293          Uitdammerdijk
267388      noord_nf  131905491298          Uitdammerdijk
267389      noord_nf  131909491306          Uitdammerdijk

[267390 rows x 3 columns]